@font-face {
  font-family: 'Merriweather';
  src: url('../public/fonts/Merriweather/Merriweather-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../public/fonts/Merriweather/Merriweather-Black.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../public/fonts/Merriweather/Merriweather-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../public/fonts/Merriweather/Merriweather-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../public/fonts/Merriweather/Merriweather-Light.ttf');
  font-weight: normal;
  font-style: light;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DMSans/DMSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DMSans/DMSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DMSans/DMSans-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DMSans/DMSans-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DMSans/DMSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
